html {
    height:100%;
    box-sizing: border-box;
}

body {
    height:100%;
    background-color: #9b8984;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

button {
  background-color: #00000000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4rem 0.25rem;
  cursor: pointer;
  border-radius: 0.75rem;
  border: 1px solid black;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(221, 203, 180);
  color: black;
}
path {
  transition: fill 0.1s;
}
path[quizzable="false"]:hover {
   cursor: default;
} 
path:hover {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.credits {
  text-align: left;
  padding: 1em 7em;
}

@media only screen and (max-width: 600px)  {
  .credits {
    padding: 1em 3em;
  }
}

